body {
  background-color: cadetblue;
}
footer {
  color: black;
  text-align: center;
  position: relative;
  width: 100%;
  bottom: 0;
}
/*Nav*/
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-sizing: border-box;
  border-radius: 1em;
}
nav li {
  margin: 1em;
  user-select: none;
  list-style: none;
}
nav a {
  color: white;
  font-family: din-round, sans-serif;
  text-decoration: none;
  padding: 1em;
  background-color: #1899d6;
  border: solid transparent;
  border-radius: 1em;
  border-width: 0 0 4px;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 20px;
  outline: none;
  overflow: visible;
  padding: 13px 16px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter 0.2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}
nav a::after {
  background-clip: padding-box;
  background-color: #1cb0f6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

nav a:hover {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}
nav a:active {
  transform: translateY(2px); /* 'pushes' the button down */
}

/* Styles for screens below 768px in width */
@media (max-width: 767px) {
  nav {
    /* changes for smaller screens */
    flex-direction: column;
    align-items: center;
  }

  nav a {
    margin: 5px 0;
    font-size: 18px;
  }

  .desktop-only li {
    display: none;
  }

  #burger-menu-container {
    display: flex;
    justify-content: center;
    align-self: center;
  }

  #burger-menu-container select {
    text-align: center;
    border-style: none;
    padding: 10px 15px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    appearance: none; /* Remove the default arrow in some browsers */
    background-color: inherit;
    width: 400px;
    text-align-last: center;
    margin: 1em;
  }

  #hamburger-menu {
    display: block;
    text-align: center;
  }
  .content {
    font-size: 50%;
    height: 100%;
  }
  #description {
    height: auto;
    width: auto;
  }
  #todo-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  #todo-block {
    width: 60%;
    text-align: center;
  }
  #to-do-input {
    min-width: 50%;
  }
}

@media (min-width: 768px) {
  #hamburger-menu {
    display: none;
  }
}

/*header-and-input*/
#header-and-input,
#header-and-input #to-do-input {
  text-align: center;
  margin: 1em;
  border-radius: 1em;
  border: none;
  padding: 1em;
  transition: 0.5s ease-in-out;
}
#to-do-input {
  width: 25%;
}
#header-and-input #to-do-input:focus {
  width: 30%;
}
/*action*/

.action-btns button {
  margin: 1em;
  appearance: button;
  background-color: #1899d6;
  border: solid transparent;
  border-radius: 1em;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: din-round, sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 20px;
  outline: none;
  overflow: visible;
  padding: 13px 16px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter 0.2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

.action-btns button:after {
  background-clip: padding-box;
  background-color: #1cb0f6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.action-btns button:main,
.action-btns button:focus {
  user-select: auto;
}

.action-btns button:hover:not(:disabled) {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

.action-btns button:disabled {
  cursor: auto;
}

.action-btns button:active {
  transform: translateY(2px); /* 'pushes' the button down */
}

/* HOME */

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85vh;
  width: 100%;
}

#description {
  width: 22ch;
  animation: expandWidth 1s forwards;
  word-wrap: break-word;
  border-left: 3px solid;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 3em;
  padding: 1em;
}

@keyframes expandWidth {
  from {
    width: 0%;
  }
  to {
    width: 66%;
  }
}

/*To do list*/
#todo-list-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
#todo-list {
  text-align: center;
  width: 500px;
}
#todo-list li {
  user-select: none;
  border-radius: 2em;
  padding: 0em 1em;
  border: 1px solid black;
  min-width: 100%;
  text-align: center;
  list-style: none;
  overflow-wrap: break-word;
  margin: 1em;
}
#todo-list h2 {
  margin-top: 25%;
}

#todo-block {
  display: flex;
  justify-content: center;
  align-items: center;
}
/*Buttons*/
#delete-btn {
  appearance: button;
  background-color: #891c1c;
  border: solid transparent;
  border-radius: 50%;
  border-width: 0 0 4px;
  color: #ffffff;
  cursor: pointer;
  font-family: din-round, sans-serif;
  font-size: 15px;
  font-weight: 900;
  margin: 0;
  text-transform: uppercase;
  transform: translateZ(0);
  transition: filter 0.2s;
  white-space: nowrap;
  padding: 1em;
}
#delete-btn:after {
  background-clip: padding-box;
  background-color: #ea3939;
  border: solid transparent;
  border-radius: 50%;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}
#delete-btn:hover {
  transform: translateY(-1px); /* 'pushes' the button down */
}
#delete-btn:active {
  box-shadow: 0 1px #666; /* inset effect */
  transform: translateY(2px); /* 'pushes' the button down */
}
#complete-btn {
  appearance: button;
  background-color: #0c801f;
  border: solid transparent;
  border-radius: 50%;
  border-width: 0 0 4px;
  color: #ffffff;
  cursor: pointer;
  font-family: din-round, sans-serif;
  font-size: 15px;
  font-weight: 900;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  transform: translateZ(0);
  transition: filter 0.2s;
  white-space: nowrap;
  padding: 1em;
}
#complete-btn:after {
  background-clip: padding-box;
  background-color: #08bc26;
  border: solid transparent;
  border-radius: 50%;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}
#complete-btn:hover {
  transform: translateY(-1px); /* 'pushes' the button down */
}
#complete-btn:active {
  box-shadow: 0 1px #666; /* inset effect */
  transform: translateY(2px); /* 'pushes' the button down */
}
/*Note*/
#notes-header-and-input {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}

#notes-field {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#inputs-container,
#inputs-container input,
#inputs-container textarea {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
#inputs-container textarea {
  height: 50px;
}

.delete-note {
  position: absolute;
  right: 0;
  top: 0;
  background-color: #fefcaf;
  border: 1px #fefcaf solid;
}
.delete-note:hover {
  border: black 1px solid;
}
.delete-note:active {
  border: lightgray 1px solid;
}
.note-container {
  text-align: center;
}

.note-container {
  background: linear-gradient(#1196a0, #61969a);
  border-radius: 1em;
  padding: 5px 20px 10px 20px;
  width: auto;
  margin: 30px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);
  position: relative;
  font: 13px "Lucida Grande", Serif;
  max-width: 33%;
  word-wrap: break-word;
}

.note-container h1 {
  color: #eb2626;
}

.note-container:before,
.note-container:after {
  content: "";
  z-index: -1;
  position: absolute;
  left: 20px;
  bottom: 10px;
  width: 70%;
  max-width: 33%;
  max-height: 100px;
  height: 55%;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  transform: skew(-15deg) rotate(-6deg);
}

.note-container:after {
  left: auto;
  right: 20px;
  transform: skew(15deg) rotate(6deg);
}

#note-title {
  border-radius: 1em;
  margin: 1em;
  border: none;
  padding: 1em;
}

#note-content {
  margin: 1em;
  border-radius: 1em;
  border: none;
  padding: 1em;
  height: 125px;
  width: 250px;
}

/*Timer*/

#timer-container {
  margin: 3em;
  text-align: center;
}
#timer {
  font-size: xx-large;
}

/*Counter*/

#counter-setup {
  width: 100%;
  text-align: center;
}
#counter-setup input {
  border-radius: 1em;
  border-style: none;
  width: auto;
  height: 25px;
}
.counter-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.counter-item {
  width: auto;
  margin: 1em;
  padding: 1em;
  border: 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 1em;
}

/* Calculator */

/*The Apple Calculator App Icon 2017 Color Scheme palette has 4 colors
 which are Light Gray (#D4D4D2), Eerie Black (#1C1C1C), Dark Liver (#505050) and Vivid Gamboge (#FF9500).*/

.calculator-container {
  text-align: center;
}
.calculator-container input {
  width: 19%;
  background: none;
  border: none;
  text-align: right;
  font-size: 36px;
  color: white;
}

.calc-btns button {
  border-radius: 50px;
  border-style: none;
  width: 65px;
  height: 65px;
  margin: 0.15em;
  font-size: xx-large;
}

#zero {
  width: 139px;
  text-align: left;
  padding-left: 0.9em;
}

.special-btns {
  background-color: #d4d4d2;
}

.main-btns {
  background-color: #1c1c1c;
}

.operator-btns {
  background-color: #ff9500;
}

.main-btns,
.operator-btns {
  color: #ffffff;
}

.main-btns,
.special-btns,
#equals {
  transition: background-color 0.7s;
}

.main-btns:active {
  transition: background-color 0.2s;
  background-color: #505050;
}

.special-btns:active,
#equals:active {
  transition: background-color 0.2s;
  background-color: white;
}
